.principal {
    background-color: #1ABC9C;
}

.principal > h1 {
    color: #2E4053;
    font-weight: bold;
}

.headlines {
    color: #2E4053;
}

.top-buffer { 
    margin-top:20px; 
}

.move-button {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.move-button:hover {
    background-color: #01A182;
    border-color: #01A182;
}

.delete-row {
    cursor: pointer;
}

.oi-plus, .oi-check, 
.oi-arrow-thick-left, .oi-task {
    font-size: 12px;
}

#expenses, #incomes {
    table-layout: fixed;
}