.jumbotron {
    background-color: #1ABC9C;
}

.jumbotron > h1 {
    color: #2E4053;
    font-weight: bold;
}

.headlines {
    color: #2E4053;
}

.top-buffer { 
    margin-top:20px; 
}

.move-button {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    float: right;
}

.move-button:hover {
    background-color: #01A182;
    border-color: #01A182;
}