{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'planner/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="jumbotron">
        <h1>{% block jumbo %}{% endblock jumbo %}</h1>
    </div>

    
    {% block content %}
        
    {% endblock content %}
        
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
        
</body>

</html>

