{% extends 'base.html' %}


{% block title %}
New Budget
{% endblock title %}

{% load crispy_forms_tags %}


{% block jumbo %}
    <i class="fas fa-file-alt"></i> Nuevo Presupuesto
    <a href="{% url 'home' %}" id="goHome" ><i class="fa fa-home" aria-hidden="true"></i></a>
{% endblock jumbo %}
    
{% block content %}
<!-- TODO: Change input names -->
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Nuevo presupuesto</button>
    </form>
</div>

{% endblock content %}